[submodule "dependencies/vector-tile-cs"]
	path = dependencies/vector-tile-cs
	url = https://github.com/mapbox/vector-tile-cs
[submodule "dependencies/Mapbox.IO.Compression"]
	path = dependencies/Mapbox.IO.Compression
	url = https://github.com/mapbox/Mapbox.IO.Compression-unity
[submodule "dependencies/Mapbox.IO.Compression-unity"]
	path = dependencies/Mapbox.IO.Compression-unity
	url = https://github.com/mapbox/Mapbox.IO.Compression-unity
