[submodule "dependencies/vector-tile-cs"]
	path = dependencies/vector-tile-cs
	url = https://github.com/mapbox/vector-tile-cs
[submodule "dependencies/Mapbox.Json"]
	path = dependencies/Mapbox.Json
	url = https://github.com/mapbox/Mapbox.Json-unity
[submodule "dependencies/Mapbox.IO.Compression"]
	path = dependencies/Mapbox.IO.Compression
	url = https://github.com/mapbox/Mapbox.IO.Compression-unity
[submodule "dependencies/Triangle.NET"]
	path = dependencies/Triangle.NET
	url = https://github.com/mapbox/triangle.net-uwp
[submodule "dependencies/Mapbox.IO.Compression-unity"]
	path = dependencies/Mapbox.IO.Compression-unity
	url = https://github.com/mapbox/Mapbox.IO.Compression-unity
[submodule "dependencies/triangle.net-uwp"]
	path = dependencies/triangle.net-uwp
	url = https://github.com/mapbox/triangle.net-uwp
