# - comments start with # and may appear on any (full) line
# - empty lines are ignored
# - paths are relative to the chosen input folder:
#   "Mapbox\example\slippy\SlippyEditor.cs" will be appended to the
#   base path argument, eg passing "C:\SampleUnityProject" will become
#   "C:\SampleUnityProject\Mapbox\example\slippy\SlippyEditor.cs"
# - wildcards:
#   - all files within a folder: "Mapybox\example\*"
#   - all files and folders within a folder and all subfolders: "Mapybox\example\**\*"

Mapbox/**/*
