# ignore everything
/*

# except:

# mapbox-sdk-cs and friends
!mapbox-sdk-cs/
!cheap-ruler-cs/
!probe-extractor-cs/

!*.gitignore
!/**/*.meta

# exlude obj.meta created by documentation creation
obj.meta
