###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site

## intermediate folder when extracting metadata from source files
api-tmp

##ignore everything in 'api' except index.md and toc.yml
api/*
!api/
!api/toc.yml
!api/index.md
